@model IEnumerable<MemberOutReachSystem.Domain.LookUpData>
<div class="col-lg-12">
    <div class="col-lg-5">

    </div>
    <div class="col-lg-7" style="align-content:center">
        <div>
            <h1> New User Registeration </h1>
            <hr />
        </div>
        <div class="col-lg-7">
            @using (Html.BeginForm("RegisterUser", "NewUser", FormMethod.Post, new { @class = "was-validated" }))
            {
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" maxlength="50" name="Name" placeholder="Enter Name" id="Name" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill Name.</div>
                </div>
                <div class="form-group">
                    <label for="UserName">User Name</label>
                    <input type="text" class="form-control" maxlength="15" placeholder="Enter User Name" name="UserName" id="UserName" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill UserName.</div>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" maxlength="15" placeholder="Enter password" name="pwd" id="pwd" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill Password.</div>
                </div>
                <div class="form-group">
                    <label for="Address1">Address1:</label>
                    <input type="text" class="form-control" maxlength="100" placeholder="Enter Address1" name="Address1" id="Address1">
                </div>
                <div class="form-group">
                    <label for="Address2">Address2:</label>
                    <input type="text" class="form-control" maxlength="100" placeholder="Enter Address2" name="Address2" id="Address2">
                </div>
                <div class="form-group">
                    <label for="ddlState">State:</label>
                    <select id="ddlState" name="ddlState" class="form-control">
                        <option value="0">Please select</option>
                        @foreach (var row in Model.Where(a => a.MOSLOOKUP == "STATE"))
                        {
                            <option value="@row.SGK_LOOKUP_ID">@row.LOOKUP_NAME</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="ddlCountry">Country:</label>
                    <select id="ddlCountry" name="ddlCountry" class="form-control">
                        <option value="0">Please select</option>
                        @foreach (var row in Model.Where(a => a.MOSLOOKUP == "COUNTRY"))
                        {
                            <option value="@row.SGK_LOOKUP_ID">@row.LOOKUP_NAME</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" maxlength="50" placeholder="Enter email" id="email" name="email" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill EmailID.</div>
                </div>
                <div class="form-group">
                    <label for="Phone">Phone Number:</label>
                    <input type="text" class="form-control" maxlength="12" placeholder="Enter PhoneNo" id="Phone" name="Phone" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill PhoneNo.</div>
                </div>
                <div class="form-group">
                    <label for="DOB">Date Of Birth:</label>
                    <input type="text" class="form-control" placeholder="Enter DOB" id="DOB" name="DOB" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill DOB.</div>
                </div>

                <button type="submit" class="btn btn-primary">Create User</button>
            }
            </div>

    </div>
</div>